<!DOCTYPE html>
<html>
  <head>
    <% include partials/header %>

  </head>
  <body>
<<<<<<< HEAD
    <div class="container-fluid">
      <div class="row" id="row">
        test
      </div>
    </div>
=======
    <h1>TIINA TEE TÄNNE SIVULLE SIT JOTAI</h1>
    <p>MOI NYT ON AIKANI LÄHTEÄ</p>

    <div id="albumi">asd</div>
>>>>>>> 75bffd571c4e6640ca4316a4dc8426a2fe49e579
  </body>
</html>
