<!DOCTYPE html>
<html>
  <head>
    <% include partials/header %>

  </head>
  <body>


    <div class="container-fluid">
      <div class="page-header">
        persus
          <input type="text" class="form-control" id="txt"></input>
         <button type="button" class="btn btn-primary" onclick="myFunction()">Search</button>
       </div>

      <div class="row" id="row">
        test
      </div>
    </div>
  </body>
</html>
