<!DOCTYPE html>
<html>
  <head>
    <% include partials/header %>

  </head>
  <body>
    <h1>TIINA TEE TÄNNE SIVULLE SIT JOTAI</h1>
    <p>MOI NYT ON AIKANI LÄHTEÄ</p>

    <div id="apustaja">asd</div>
  </body>
</html>
